/*this is the style sheet that controls all the settings, formats for my html file
Author:  Terrence Gaines
*/

body{
    //background-image: url("pink-flowers.jpg");
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    background-color: rgb(68, 66, 66);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    font-family:'Times New Roman';
	
}
#menutab{
    height: 30%;
    width: 200%;
	text-align: center;
    
}


img{
    float: right;
    margin-right: 50px;
    height:390px;
}
#table1{
    float: left;
    margin-left: 300px;
    text-align: initial;
    
}

#table2{
    margin-top: 20px;;
    margin-left: 300px;
    float:left;
    width: 60%;

   
}
#table3{
    margin-top: 20px;;
    margin-left: 300px;
    float:left;
    width: 60%;

   
}
#table2,#table2 th,#table2 tr,#table2 td,{
    border: 1px solid black;
    text-align: center;
	color: blue;
}
.grey{
    background-color:#778899;
}
.white{
    background-color:white;

}


ul.c{
    list-style-type: circle;
}
ol.c {
  list-style-type: upper-roman;
}

#resbody{
    background-image: none;
   
}
h2,h4,h5,{
    text-align: center;
    height: 5px;
	color: blue;
}

	
}


.red{
    color: red;
    font-weight: bold;
}

td.c{
	text-align: center;
}
p.thicker{
	text-align: center;
	font-weight: 900;
	
} 
p.b{
	text-align: center;
	font-weight: normal;
    font-style: italic;

} 
p{
	text-align:center;
}

u { 
  text-decoration: underline;
}
a:link, a:visited {
  background-color:Blue ;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: #cc5500;
}

h3{
    text-decoration:underline;
}